:root {
    --sv-c-white: 255,255,255;
    --sv-c-black: 0,0,0;
    --sv-c-maroon: 80,60,60;

    --sv-c-inspectorblue: 23,151,192;
    --sv-c-darkblue: 20,49,59;
}
.light-mode {
    --color-background: var(--sv-c-white);
    --color-text: var(--sv-c-black);
    --color-bg-accent: var(--sv-c-white);
}
.dark-mode {
    --color-background: var(--sv-c-black);
    --color-text: var(--sv-c-white);
    --color-bg-accent: var(--sv-c-maroon);
}